.chat-message{ id: "message-#{message.id}", class: creator ? "right" : "left" }
  - if message.user.avatar.attached?
    = image_tag url_for(message.user.avatar.variant(resize: "48x48")), class: "message-avatar"
  - else
    = image_tag "https://via.placeholder.com/48", class: "message-avatar"
  .message
    = link_to message.user.full_name, "#", class: "message-author"
    %span.message-date= message.created_at
    %span.message-content= message.body
